<style>
  .myContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 30px;
    border-color: gray;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0, 2);
    background-color: rgbA(96, 135, 179, 0.1);
  }

  .circle {
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 60px 30px 30px 0px;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
  }
  h1 {
    margin-top: 15px;
  }
</style>

<head>
  <% include ./header %>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
</nav>

<!--<h1>found : <%=data.userQuery %></h1>-->
<div class="container myContainer">
  <div class="circle"></div>
  <div>
    <h1><%=authors[data.userQuery].name %></h1>
    <div class="row">
      <div><h6><%= authors[data.userQuery].age %> |</h6></div>
      <div><h6><%= authors[data.userQuery].country %></h6></div>
    </div>
  </div>
  <p>
    <%=authors[data.userQuery].about %>
  </p>
</div>
