<head>
  <% include ./header %>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="../"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Year Published</th>
        <th scope="col">Language</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(function(book){ %>
      <tr>
        <th scope="row"><%= book.isbn %></th>
        <td><a href="/books/<%= book.isbn%> "><%= book.title %></a></td>
        <td><%= book.author_id %></td>
        <td><%= book.genre %></td>
        <td><%= book.year %></td>
        <td><%= book.language %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<footer>
  <% include ./footer %>
</footer>
